<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<Examine>
  <ExamineIndexProviders>
    <providers>

      <add name="InternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine" supportUnpublished="true" supportProtected="true"
        analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberIndexer" type="UmbracoExamine.UmbracoMemberIndexer, UmbracoExamine" supportUnpublished="true" supportProtected="true"
        analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>

      <!-- default external indexer, which excludes protected and unpublished pages - only published text content -->
      <add name="ExternalIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine"/>
      
	    <!-- ex9 snippet from \Excercises\Excercise9\ExamineSettings_Snippet.txt add towns indexer here -->
      <add name="TownIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine"
           indexSet="ukTownsIndexSet" dataService="ExamineBootcamp.BusinessLogic.Indexer.DbIndexer,ExamineBootcamp.BusinessLogic"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer,	Lucene.Net"
           indexTypes="ukTown" runAsync="true"/>

      <!-- ex. 8 PDF indexer pdf text content -->
	    <add name="PDFIndexer" type="UmbracoExamine.PDF.PDFIndexer, UmbracoExamine.PDF" extensions=".pdf" umbracoFileProperty="umbracoFile"/>

      <!-- ex. 10 Multilingual indexer provider -->
      <add name="External_CN_Indexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine" indexSet="External_Cn_IndexSet"
           supportUnpublished="false" supportProtected="false" interval="10" analyzer="Lucene.Net.Analysis.Cn.ChineseAnalyzer,Lucene.Net.Contrib.Analyzers"/>
    
      </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders defaultProvider="ExternalSearcher">
    <providers>
      <add name="InternalSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine" analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>
        
      <!-- <add name="ExternalSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"/> -->
      <!-- ex. 8 replace with this multi-index searcher - for  multi index published content and pdf text content -->
      <add name="ExternalSearcher" type="Examine.LuceneEngine.Providers.MultiIndexSearcher,Examine"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableLeadingWildcards="true"
           indexSets="ExternalIndexSet,PDFIndexSet" />

      <!--<add name="ExternalSearcherFr" type="Examine.LuceneEngine.Providers.MultiIndexSearcher, Examine"
           analyzer="Lucene.Net.Analysis.fr.FrenchAnalyzer, Lucene.Net" enableLeadingWildcards="true"
           indexSets="ExternalIndexSet,PDFIndexSetFR" />-->
      
      <add name="InternalMemberSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
        analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableLeadingWildcard="true"/>

	    <!-- ex9 snippet from \Excercises\Excercise9\ExamineSettings_Snippet.txt towns searcher add here -->
      <add name="TownSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine"
           indexSet="ukTownsIndexSet" analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />

      <!-- PDF searcher -->
	    <add name="PDFSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"/>

      <!-- ex. 10 Multilingual search provider -->
      <add name="External_CN_Searcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine" indexSet="External_Cn_IndexSet"
           analyzer="Lucene.Net.Analysis.Cn.ChineseAnalyzer,Lucene.Net.Contrib.Analyzers"/>

    </providers>
  </ExamineSearchProviders>

</Examine>
