<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<ExamineLuceneIndexSets>
  <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
  <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/"/>

  <!-- The internal index set used by Umbraco back-office for indexing members - DO NOT REMOVE -->
  <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
    <IndexAttributeFields>
      <add Name="id"/>
      <add Name="nodeName"/>
      <add Name="updateDate"/>
      <add Name="writerName"/>
      <add Name="loginName"/>
      <add Name="email"/>
      <add Name="nodeTypeAlias"/>
    </IndexAttributeFields>
  </IndexSet>
  
  <!-- EXTERNAL here to update -->
    
  <!-- Default Indexset for external searches, this indexes all fields on all types of nodes-->
  <!--<IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/" />-->
  
  <!-- ex 1 this will desabled for following exercises -->
  <!--exclude from the indexing the node type 'umbNewsItem': the content there won't be indexed-->
  <!--<IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/" >
    <ExcludeNodeTypes>
      <add Name="umbNewsItem"/>
    </ExcludeNodeTypes>  
  </IndexSet>-->

  <!-- ex. 5 sorting by other critaria than the examinde/Lucen build in 'sorting criteria' -->
  <IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/">
    <!-- SYSTEM fields-->
    <IndexAttributeFields>
      <add Name="id"/>
      <add Name="nodeName"/>
      <add Name="updateDate" EnableSorting="true" Type="DateTime"/>
      <add Name="createDate" EnableSorting="true" Type="DateTime"/>
      <add Name="writerName"/>
      <add Name="loginName"/>
      <add Name="email"/>
      <add Name="nodeTypeAlias"/>
      <add Name="path"/>
    </IndexAttributeFields>

    <!-- CUSTOM fields are alredy inferred and displayed in the BOffice in Examine Management -->
    <!-- if I add one here "reviewDate", I need to add all the others here to be included  -->
    <!-- ia better solution is to use the DocumentWriting event and implement a private method to do so in the ApplicationSatrted meth once the index are created/built -->
    <!--<IndexUserFields>
      <add Name="reviewDate" EnableSorting="true"/>
    </IndexUserFields>-->
    <!-- some of the custom fields are umbraco document type properties as : bodyText, contents etc...  -->
    
  </IndexSet>

  <IndexSet SetName="PDFIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/PDFs"/>

  <!-- test multilanguage todo -->
  <IndexSet SetName="PDFIndexSetEN" IndexPath="~/App_Data/TEMP/ExamineIndexes/PDFs" IndexParentId="2102" />
  <IndexSet SetName="PDFIndexSetFR" IndexPath="~/App_Data/TEMP/ExamineIndexes/PDFs" IndexParentId="2103" />
  
  <!-- ex. 9 snippet from \Excercises\Excercise9\ExamineIndex_Snippet.txt add here -->
  <IndexSet SetName="ukTownsIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/uktowns/">
    <IndexUserFields>
      <add Name="name" EnableSorting="true"/>
      <add Name="county" EnableSorting="true"/>
      <add Name="country"/>
      <add Name="grid_reference" />
      <add Name="latitude" />
      <add Name="longitude"/>
      <add Name="postcode_sector"/>     
    </IndexUserFields>
  </IndexSet>
  
  <!-- ex. 10 Multilingual indexing -->
  <IndexSet SetName="External_Cn_IndexSet" IndexParentId="2088" IndexPath="~/App_Data/TEMP/ExamineIndexes/ExternalIndex_CN/" />

</ExamineLuceneIndexSets>